body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(76, 175, 139);
    color: white;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: white;
}

section {
    padding: 20px;
}

form label,
form textarea {
    display: block;
    margin-bottom: 5px;
}

form textarea {
    width: 100%;
    height: 100px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

footer {
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.producto {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
    max-width: 300px;
}

.producto img {
    max-width: 100%;
}

.producto h3 {
    margin: 10px 0;
}

.producto p {
    margin: 5px 0;
}

.producto .comprar {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.producto .comprar:hover {
    background-color: #45a049;
}


#carrito {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    max-width: 400px;
    text-align: center;
}

.producto-carrito {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}

.producto-carrito img {
    max-width: 100px;
}

.producto-carrito h3 {
    margin: 10px 0;
}

.producto-carrito p {
    margin: 5px 0;
}

.producto-carrito .eliminar {
    background-color: #ff3d00;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.producto-carrito .eliminar:hover {
    background-color: #e63900;
}

.total {
    margin-top: 20px;
}


footer {
    background-color: rgb(76, 175, 139);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}